<a href="https://colab.research.google.com/github/thwc/MIS710-T12023/blob/main/Week%202/MIS710Lab2-Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MIS710 Lab 2 Week 2**
Author: Associate Professor Lemai Nguyen, Thuc Nguyen

Objective: to learn Python bacis and load a dataset to view its shape and data types

**To do before the class:**
1. read the Lab slides
2. access Colab
3. make sure you have a google account, and Drive
4. download the titanic dataset and store it in your Google drive

**Student name:**

Student ID:

# **Task 1: Titanic dataset**
Dataset: Titanic

Source: https://www.kaggle.com/c/titanic

## **Import Libraries**

In [ ]:
#load libraries
import pandas as pd #for data manipulation and analysis
import numpy as np #for working with arrays

#import data visualisation libraries
import matplotlib.pyplot as plt
import seaborn as sns

## **Mount your Google drive**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## **Load Data**


1.   Load the dataset
2.   Explore the data

In [ ]:
# load dataset
records = pd.read_csv("https://raw.githubusercontent.com/ABAL-DU/MIS710-T2_2023/main/Week%2001/titanic_train.csv")

#explore the dataset
print(records)

print('Sample size:', records.shape[0])
print('Number of columns:', records.shape[1])

## **Inspect data at a glance**

In [ ]:
print(records.info())
print(records.shape)

In [ ]:
records.head()
#What is displayed?

In [ ]:
records.tail(10)
#What is displayed?

In [ ]:
records.sample(10)
#What is displayed?

In [ ]:
#print data from a certain column(s)
names= records[['Name','Survived']]
print(names.shape)
print(type(names))
print(names.head(5))

In [ ]:
#select some other columns and print

## **Inspect missing data**

The data preprocessing is cyclic with analysing and visualising data, handling missing data, and feature engineering. For the learning purpose, we show you some simple techniques, you should move between the activities yourself.

In [ ]:
#Learn to use for loop, and accessing elements of a dataframe using iloc
#Count missing data
for i in records.iloc[:,0:13]:
  miss=records[i].isna().sum()
  print(i,'missing: ', miss)

In [ ]:
#another way to find missing data is using the function isnull()
#read about isnull() here https://pandas.pydata.org/docs/reference/api/pandas.isnull.html
#useful site: https://www.sharpsightlabs.com/blog/pandas-isnull/
print(records.isnull().sum())

## **Conduct Exploratory Data Analysis - EDA**

Stats and visualtion
1.  Univariate analysis
2.  Bivariate analysis
3.  Multivariate analysis

### **Univariate analysis**

**Univariate analysis explores centrality, summarise and visualises data distribution for each variable at a time**

In [ ]:
#descriptive stats for numerical variables
records.describe()

Run the above code and write down here your observations:
For example, centrality of age distribution, range, and std.

What can you say about some other columns, for example PassengerID and Survived does it make sense?

In [ ]:
#set the formatting for floating numbers
pd.set_option('display.float_format', lambda x: '%.3f' % x)

#summarise categorical columns as well
data_types =['object', 'float', 'int']
records.describe(include=data_types)

**Explore each numerical variable**

In [ ]:
#explore each numerical variable
print('Age mean: ', (records['Age'].mean()))
print('Age meadian: ', (records['Age'].median()))
print('Age min: ', (records['Age'].min()))
print('Age max: ', (records['Age'].max()))
print('Age std: ', (records['Age'].std()))

In [ ]:
#Visualise a numerical variable using histrograms using matplot
records.Age.hist()

In [ ]:
records['Age'].plot.hist(grid=True, bins=10, rwidth=2, color='#607e9f')
plt.title('Age of passengers')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.grid(axis='y', alpha=0.75)

In [ ]:
#using seaborn https://seaborn.pydata.org/generated/seaborn.histplot.html
sns.histplot(data=records, x='Age', bins=50, kde=True)

In [ ]:
import seaborn as sns

# Assuming you have already computed the 'ages' variable containing the age values

# Calculate the number of bins
num_bins = int(max(records['Age']) - min(records['Age']) + 1)

# Create the histogram with each bin representing 1 age
sns.histplot(data=records, x='Age', bins=num_bins, kde=True)

# Display the plot
plt.show()

In [ ]:
sns.boxplot(x=records['Age'], color='blue')

In [ ]:
sns.violinplot(x=records['Age'], color='orange')

In [ ]:
sns.swarmplot(x=records['Age'], color='brown')
sns.violinplot(x=records['Age'], color='orange')

In [ ]:
sns.kdeplot(x=records['Age'], color='orange')

**It's your turn: explore other numerical variables**

In [ ]:
#write Python code to explore Fare yourself

In [ ]:
##write Python code to visualise Fare yourself

**Explore each categorical variable**

In [ ]:
#describe categorical variables
print(records['Sex'].describe(include='object'))
print(records['Embarked'].describe())

#run the code and answer: what does the result cell say?

In [ ]:
#explore each categorial variable
print(records['Embarked'].value_counts())
print('Embarked mode: ', records['Embarked'].mode())

In [ ]:
#Another way to do it
records.Embarked.value_counts()

In [ ]:
#explore other categorial variables yourself, for example Sex

**Visualise each categorical variable**

In [ ]:
#Using seaborn
sns.countplot(x=records['Pclass'])

In [ ]:
#You can use hist if code has been trsnformed into numeric
plt.hist(records['Survived'])

**Visualise other categorical variables**

In [ ]:
for i in ['Survived','Pclass', 'Sex', 'Embarked']:
   plt.figure()
   sns.countplot(x=records[i])

**You can use stats results to handle missing data**

In [ ]:
#Fill in missing numerical data with mean and categorical data with mode
records['Age'].fillna(records['Age'].mean(),inplace=True)
records['Embarked'].fillna(records['Embarked'].mode()[0], inplace=True) #there can be more than one mode

In [ ]:
print(records.isnull().sum())

**Explore these variables after you have filled in the missing data**

Drop irrelevant rows. For example

In [ ]:
records.drop(['PassengerId','Name'], axis=1, inplace=True)
print(records.info())

In [ ]:
#You can drop rows with missing data
records.dropna(subset=['Embarked'], inplace=True)
print(records.info())

**Do it yourself**

In [ ]:
#How to handle other missing data? Why?

In [ ]:
print(records.isnull().sum())

### **Biariate analysis**

**Display a countplot for one categorical variable grouped by a second categorical variable**
https://seaborn.pydata.org/generated/seaborn.countplot.html

In [ ]:
sns.countplot(data=records, x='Sex', hue='Survived')

In [ ]:
sns.countplot(data=records, hue='Sex', x='Survived')

**Compare distributions of numerical variables using boxplots**
https://seaborn.pydata.org/generated/seaborn.boxplot.html

In [ ]:
sns.boxplot(data=records, x='Age', y='Embarked')

In [ ]:
sns.boxplot(data=records, x="Age", y="Embarked", hue="Survived")

In [ ]:
#view Age distributions by Survival status
sns.kdeplot(data=records, x="Age", hue="Survived", multiple="stack")

**Ploting diagram to see relationships between two numerical variables**
https://seaborn.pydata.org/generated/seaborn.scatterplot.html

In [ ]:
sns.scatterplot(data=records, x='Age', y='Fare')

### **Data conversion**

In [ ]:
#Import LabelEncoder
from sklearn.preprocessing import LabelEncoder

In [ ]:
# convert categorical variables to numerical using LabelEncoder
encoder = LabelEncoder()
records['Sex_N'] = encoder.fit_transform(records['Sex'])
records['Embarked_N'] = encoder.fit_transform(records['Embarked'])

In [ ]:
records.tail(20)

In [ ]:
#Turn Age to Age groups
age_bins = [0, 20, 40, 60, np.inf]

# assign categorical labels to the bins
age_labels = ['under 20', '21 to 40', '41 to 60', '61 and above']

# convert the numerical column to categorical
records['Age_Gr'] = pd.cut(records['Age'], bins=age_bins, labels=age_labels, right=True) #if right=False then the intervals are closed on the left side and open on the right side.

### **Multivariate analysis with Heatmaps**

Read https://seaborn.pydata.org/generated/seaborn.heatmap.html# and try it yourself

In [ ]:
records.info()

In [ ]:
records=records.drop(['Sex','Ticket','Cabin','Embarked', 'Age_Gr'], axis=1)

Read https://seaborn.pydata.org/generated/seaborn.heatmap.html# and try it yourself

In [ ]:
#Example 1:
sns.heatmap(records.corr(), cmap="crest", square=True, annot=True, fmt=".1f")

## **Feature selection**

In [ ]:
#Select relevant predictors
features=['Sex_N','Pclass', 'Fare', 'Embarked_N', 'Age', 'SibSp', 'Parch']
X=records[features]

#Select the target variable for prediction
y=records['Survived']

In [ ]:
X.shape

In [ ]:
y.shape

## **Split data**

In [ ]:
#import the train_test_split function
from sklearn.model_selection import train_test_split

In [ ]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)  # 80% training and 20% testing

# **Task 2: Housing dataset**

**Do it yourself:** Repeat the above steps with the housing dataset to consilidate your learning

In [ ]:
# Import packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**Import Melbourne housing data**

In [ ]:
url = 'https://raw.githubusercontent.com/thwc/MIS710-T12023/main/Week%201/Melbourne_housing_FULL.csv'
df = pd.read_csv(url)

## **Data at a glance**
* Print out the first and last 10 records of the datataframe (`head()` and `tail`)
* What are data type and number of records for each attribute? (`info()`)
* Are there any missing values? Remove missing values for `Price` column. Compare number of rows before and after removing missing values. (`isnull()`)

In [ ]:
# Execute these codes in separate code cell to see output
# Print out the first and last 10 records of the datataframe (head() and tail)
df.head(10)
df.tail(10)

# What are data type and number of records for each attribute? (info())
df.info()

# Are there any missing values? Remove missing values for `Price` column. Compare number of rows before and after removing missing values. (`isnull()`)
df.isnull().sum().sort_values(ascending=False) # Return number of missing values for each column
df.dropna(subset=['Price'], inplace=True) # Remove missing values in Price column
df.info() # df from 34857 row to 27247 rows after removing missing values

## Numerical analysis and visualisation

* Calculate the mean, median, min, max and std of `Price`, `Landsize` (`describe()`)
* Plot overall `Price` and `Landsize` distribution using boxplot and histogram (`plot()`)
* Plot price distribution for each region. and house type

In [ ]:
# Calculate the mean, median, min, max and std of Price, Landsize (describe())
pd.set_option('display.float_format', lambda x: '%.2f' % x) # Set display format for pandas
df[['Price', 'Landsize']].describe() # Select only Price and Landsize columns

# Plot overall Price and Landsize distribution using boxplot and histogram (plot())
# Plot histogram for Price and Landsize columns
for i in ['Price', 'Landsize']:
    sns.histplot(data=df, x=i , bins=100)
    plt.figure()

# Plot boxplot for Price and Landsize columns
for i in ['Price', 'Landsize']:
    sns.boxplot(x=df[i], color='blue')
    plt.figure()

# Plot price distribution for each region. and house type
# Plot price distribution for each region
ax = df['Price'].hist(by=df['Regionname'],figsize=(10,10), bins=100, sharex=True)
plt.figure()

# Plot price distribution for each house type
df['Price'].hist(by=df['Type'],figsize=(10,10), bins=100, sharex=True)
plt.figure()

## Categorical data analysis and visualisation

* Count unique values in `Suburb`
* List unique values in `Regionname`
* Plot a bar chart of number of sales for top 10 suburbs with the most sales

In [ ]:
# Count unique values in Suburb
df['Suburb'].value_counts()

# List unique values in Regionname
df['Regionname'].value_counts()

# Plot a bar chart of number of sales for top 10 suburbs with the most sales
n = 10 # Assign n_th index
top_10_suburb_list = df['Suburb'].value_counts()[:n].index.tolist() # Return top 10 suburbs with the most sales as a list
df_top_10_suburb = df[df['Suburb'].isin(top_10_suburb_list)] # Make a df contain only top 10 suburbs
df_top_10_suburb['Suburb'].value_counts(ascending=True).plot(kind="barh") # Plot value counts of top 10 suburbs
df_top_10_suburb[['Suburb', 'Price']].boxplot(by='Suburb', vert=False, figsize=(10,6)) # Plot boxplot of prices grouped by top 10 suburbs
df_top_10_suburb['Price'].hist(by=df['Suburb'],figsize=(10,10), bins=100, sharex=True) # Plot price distribution of top 10 suburbs
plt.figure()

## Relationship between the columns
* Plot a matrix of scatter plots for Price, Rooms, Landsize, Car, Distance

In [ ]:
pd.plotting.scatter_matrix(df[['Price', 'Rooms', 'Landsize', 'Car', 'Distance']], alpha=0.2, figsize=(16,16))

## Column wrangling
* Calculate a new `Price per room` column
* Calculate a new `Age` column in 2023

In [ ]:
df['Price per room'] = df['Price'] / df['Rooms']
df['Age'] = 2023 - df.YearBuilt

## Selection & Indexing
* Get all the sales made in `Melbourne City Council`. Calculate mean, median, min, max and std for the specified records
* Get all the sales made in `Manningham City Council` having more than 4 rooms

In [ ]:
# Get all the sales made in Melbourne City Council.
df[df.CouncilArea == 'Melbourne City Council']

# Calculate mean, median, min, max and std for the specified records
df[df.CouncilArea == 'Melbourne City Council']['Price'].describe()

# Get all the sales made in Manningham City Council having more than 4 rooms
df[(df.CouncilArea == 'Melbourne City Council') & (df.Rooms > 4)]