
# **MIS710 Lab 1 Week 1**
Authors: Associate Professor Lemai Nguyen, Thuc Nguyen

Objectives:
1. To set up and familiarise with the Google Colab environment for MIS710
2. Build up Python programming basic knowledge and skills

Prerequisite: Completion of Lab 0 exercises prior to Lab 1

Dataset: [Titanic](https://www.kaggle.com/c/titanic)

Dataset: [Melbourne Housing Market](https://www.kaggle.com/datasets/anthonypino/melbourne-housing-market)

**To do before the class:**
1. Read the Lab slides
2. Access Colab
3. Make sure you have a google account, and Drive
4. Download the titanic dataset and store it in your Google drive
5. Try as many exercises as you can before the lab

**Student name:**

Student ID:

# **Task 1: Week 0 Revision**

**Python is an interpreted language and it is interactive**

In [ ]:
#execute a command
print('Hello world')

In [ ]:
#use operators on data values
1+2+3

**Use variables to store and manipuulate data: strings, integers, and floats**

**Use the built-in function print() with arguments/parameters**

In [ ]:
#assignment
x=2
y=5

#addition
print('sum: ', x+y)

#now can you print results of substraction, multiplication, power, division

In [ ]:
%whos

In [ ]:
#assignment
message='Python is an powerful programming language'

print('Please note that: ', message)

#edit your message and print it again

## **Let's keep learning**

**Boolean is another built-in data type in Python**

In [ ]:
#evaluate a statement
1>2

In [ ]:
#apply bollean operators: and, or, not
x=1
y=2
my_name='Lemai Nguyen'

print((x>y) or (y>x))
print((x>y) and (y>x))
print((x!=y) or (my_name == 'Lizzy Nguyen'))
print((x==y))
print(not(x==y))

**Conditional statements**

In [ ]:
Jan_sales_in_K= 435.56
Feb_sales_in_K=300.75
if (Feb_sales_in_K < Jan_sales_in_K):
  print('Sales dropped by: $',Jan_sales_in_K - Feb_sales_in_K,'K' )
else:
  print('Sales increased by: $', Feb_sales_in_K - Jan_sales_in_K,'K' )

**List**

Lists are a common Python data structure to hold an ordered sequence of elements. List elements can be of different types. Each element can be accessed by an index. Python indexes start with 0.
https://docs.python.org/3/library/index.html

In [ ]:
fibonacci = [1, 2, 3, 5, 8]
my_desk=['Python Machine Learning', 1, 2, 4, fibonacci, 'flowers']
print('fibonacci: ', fibonacci)
print('My desk is messy: ', my_desk)

#now print the second, third and other numbers, note the indiex starts from 0

#use variables to store index
i=4
print('The fourth number in fibonacci is:', fibonacci[i-1])

**More built-in functions**
https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range

In [ ]:
n=len(fibonacci)
print('the number of elements: ', n)
print(fibonacci[len(fibonacci)-1])
fibonacci.append((fibonacci[n-1]+fibonacci[n-2]))
print('Now the number of elements: ', len(fibonacci))
print(fibonacci)

In [ ]:
check_number=13
print(check_number in fibonacci)
print(fibonacci.count(check_number))

In [ ]:
#print my_desk
print(my_desk)

In [ ]:
#check if my_desk has a certain item and count how many time it appears there
check_number=9
print(check_number in fibonacci)
print(fibonacci.count(check_number))

In [ ]:
check_item='flowers'
print(check_item in my_desk)
print(my_desk.count(check_item))

In [ ]:
print(type(my_desk[4]))

In [ ]:
#use type and help functions
type(fibonacci)

**Array**

Accessing elements of a large list is computationally expensive. **NumPy offers an extension to Python that adds support for large, multidimensional arrays and matrices. Arrays are more efficient.** All elements in an array must be of the same type.

In [ ]:
#Before using NumPy, you need to import the NumPy package
import numpy as np #for working with arrays

In [ ]:
#One way to create a NumPy array is to create it from a Python list:
my_array=np.array(fibonacci)
print(my_array)
print(type(my_array))

In [ ]:
#access array elements, examine the use of indices
print(my_array[3])
print(my_array[3:])
print(my_array[:3])

#now print elements from 5 to 8


i=3
#now print 5 elements from i

In [ ]:
#you can have 2 dimentional arrays, the first axis has a length of 2 and the second axis has a length of 3.
new_array = np.array([[1,2,3,4,5], [6,7,8,9,10], [11,12,13,14,15]])

In [ ]:
print(new_array)

In [ ]:
#access elements of a 2 dimentional array
#print the second row
print(new_array[1,:])
#print the first row, element 2
print(new_array[0,1])

#print the third column
print(new_array[:,2])

**Dataframe**

Pandas extends Python by providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive.

**Pandas' Dataframes are a 2-dimensional data structure that can store data of different types (strings, integers, floating numbers, and more) in columns. Index starts from 0.**

*Pandas stands for Panel Data Analysis.*

Read more https://learning.oreilly.com/library/view/python-machine-learning/9781119545637/c03.xhtml#head-2-13

In [ ]:
#First you need to load the Pandas library
import pandas as pd

'''The code below creates a DataFrame of 3 rows and 4 columns. Each column has a label: “A”, “B”, “C”, and “D”'''

df = pd.DataFrame([[1,2,3,4],[5,6,7,8],[9,10,11,12]],
		  columns=list('ABCD'))
print(df)
print(df.shape)

In [ ]:
#access columns
print(df[['C']])
print(df[['A','C']]) #if we want to access more than one columns we need to have a list

#access a row, note only the first index is counted
print(df[2:3])

In [ ]:
#now print B and C collumns
features=['B','C']
print(df[features])
#now print the first and second rows
print(df[1:3])
#next line
print("\n")
#print the last column
print(df['D'])
print(df.iloc[:,[3]])

**OPTIONAL: A dictionary is a Python data structure that holds pairs of objects - keys and values.**

In [ ]:
toUpper = {'a': 'A', 'b': 'B'}
print(toUpper['a'])

In [ ]:
#print toUpper with key c
#print toUpper

In [ ]:
for i in toUpper.keys():
  print(i, ': ', toUpper[i])

# **Task 2: Hands on the Titanic dataset**

1.   Load the dataset
2.   Explore the data

Data source: https://www.kaggle.com/c/titanic

**Import libraries**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

## **2.1 Loading the dataset**

In [ ]:
# load dataset, use your own folder, or create Colab Notebooks/MIS710/

records = pd.read_csv("https://raw.githubusercontent.com/Advanced-Business-Analytics-Lab/MIS710-T2_2023/main/Week%2001/titanic_train.csv")

records

## **2.2 Data at a glance**

**DataFrame**
Dataframes are a 2-dimensional data structure that can store data of different types (strings, integers, floating numbers, and more) in columns. Index starts from 0.

In [ ]:
print('Sample size:', records.shape[0])
print('Number of columns:', records.shape[1])

**Data columns and data types**

In [ ]:
records.info()

In [ ]:
records.head()

In [ ]:
records.tail(10)

In [ ]:
records.sample(10)

**Select collumns**

In [ ]:
print(records[['Survived','Sex']])

In [ ]:
print(records.iloc[:,1:3])

In [ ]:
print(records.iloc[:,[1,4]])

**Select rows**

In [ ]:
print(records.iloc[2,:])

**Explore descriptive stats**

In [ ]:
records.describe()

**Examine missing data**

In [ ]:
records.isnull().sum().sort_values(ascending=False)

# **Task 3: Hands on Melbourne Housing Market datasets**

1.   Load the dataset
2.   Explore the data

Data source: https://www.kaggle.com/datasets/anthonypino/melbourne-housing-market

**Import libraries**

In [ ]:
!pip install squarify

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import squarify
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

## **Loading datasets**

In [ ]:
url = 'https://raw.githubusercontent.com/thwc/MIS710-T12023/main/Week%201/MELBOURNE_HOUSE_PRICES_LESS.csv'
url_full = 'https://raw.githubusercontent.com/thwc/MIS710-T12023/main/Week%201/Melbourne_housing_FULL.csv'

In [ ]:
sales = pd.read_csv(url_full)

## **Data at a glance**

In [ ]:
sales.head()

In [ ]:
sales.shape

In [ ]:
sales.info()

In [ ]:
sales.describe()

In [ ]:
sales.isnull().sum().sort_values(ascending=False)

In [ ]:
no_missing_df = sales[sales['Price'].notnull()]
no_missing_df.isnull().sum().sort_values(ascending=False)

In [ ]:
no_missing_df.shape

## **Numerical analysis and visualisation**
We'll analyse the `Price` column only

In [ ]:
sales = no_missing_df.copy()

In [ ]:
 sales.Price.describe().astype(int)

In [ ]:
ax = sales.Price.plot(kind='box', vert=False, figsize=(16,4))
ax.xaxis.get_major_formatter().set_scientific(False)

*Write your interpretation of the data distribution in the graph above:*

In [ ]:
ax = sales.Price.plot(kind='density', figsize=(16,4))
ax.xaxis.get_major_formatter().set_scientific(False)

*Write your interpretation of the data distribution in the graph above:*

In [ ]:
ax = sales.Price.plot(kind='density', figsize=(16,4))
ax.xaxis.get_major_formatter().set_scientific(False)
ax.axvline(sales.Price.mean(), color='red')
ax.axvline(sales.Price.median(), color='green')

*Write your interpretation of the data distribution in the graph above:*

## **Categorical data analysis and visualisation**

In [ ]:
sales['Regionname'].unique()

In [ ]:
sales['Regionname'].value_counts()

In [ ]:
sales['Regionname'].value_counts().plot(kind='pie', figsize=(6,6))

*Write your interpretation of the data distribution in the graph above:*

In [ ]:
ax = sales['Regionname'].value_counts().plot(kind='bar', figsize=(6,6))
ax.set_ylabel('Number of Sales')

## **Relationship between the columns**

In [ ]:
corr = sales.corr()

corr

In [ ]:
fig = plt.figure(figsize=(8,8))
plt.matshow(corr, cmap='RdBu', fignum=fig.number)
plt.xticks(range(len(corr.columns)), corr.columns, rotation='vertical');
plt.yticks(range(len(corr.columns)), corr.columns);

*Write your interpretation of the heat map analysis here:*

In [ ]:
ax = sales.plot(kind='scatter', x='Price', y='Rooms', figsize=(6,6))
ax.xaxis.get_major_formatter().set_scientific(False)

*Write your interpretation of the data distribution in the graph above:*

In [ ]:
ax = sales[['Price', 'Regionname']].boxplot(by='Regionname', vert=False, figsize=(10,6))
ax.xaxis.get_major_formatter().set_scientific(False)

In [ ]:
# Number of houses sold by region
x = 0
y = 0
width = 100
height = 100

region_names = sales['Regionname'].value_counts().index
values = sales['Regionname'].value_counts().tolist()

normed = squarify.normalize_sizes(values, width, height)
rects = squarify.squarify(normed, x, y, width, height)

colors = ['rgb(200, 255, 144)','rgb(135, 206, 235)',
          'rgb(235, 164, 135)','rgb(220, 208, 255)',
          'rgb(253, 253, 150)','rgb(255, 127, 80)',
         'rgb(218, 156, 133)', 'rgb(245, 92, 76)']

shapes = []
annotations = []
counter = 0

for r in rects:
    shapes.append(
        dict(
            type = 'rect',
            x0 = r['x'],
            y0 = r['y'],
            x1 = r['x'] + r['dx'],
            y1 = r['y'] + r['dy'],
            line = dict(width=2),
            fillcolor = colors[counter]
        )
    )
    annotations.append(
        dict(
            x = r['x']+(r['dx']/2),
            y = r['y']+(r['dy']/2),
            text = values[counter],
            showarrow = False
        )
    )
    counter = counter + 1
    if counter >= len(colors):
        counter = 0

# For hover text
trace0 = go.Scatter(
    x = [ r['x']+(r['dx']/2) for r in rects],
    y = [ r['y']+(r['dy']/2) for r in rects],
    text = [ str(v) for v in region_names],
    mode='text',
)

layout = dict(
    title='Number of Houses Sold <br> <i>(Segmented by Region)</i>',
    height=700,
    width=700,
    xaxis=dict(showgrid=False,zeroline=False),
    yaxis=dict(showgrid=False,zeroline=False),
    shapes=shapes,
    annotations=annotations,
    hovermode='closest'
)

# With hovertext
figure = dict(data=[trace0], layout=layout)

iplot(figure, filename='squarify-treemap')

In [ ]:
CA_by_region = sales.groupby('Regionname')['CouncilArea'].unique()

In [ ]:
print(CA_by_region.to_string())

In [ ]:
for idx, i in zip(CA_by_region.index, CA_by_region):
    print(idx, i)

In [ ]:
CA_count = sales.CouncilArea.value_counts()
top_10_CA = sales[sales['CouncilArea'].isin(CA_count.index[:10])]

In [ ]:
top_10_CA

In [ ]:
ax = top_10_CA[['Price', 'CouncilArea']].boxplot(by='CouncilArea', vert=False, figsize=(10,6))
ax.xaxis.get_major_formatter().set_scientific(False)

## **Column wrangling**

Add and calculate a new `Price per room` column

In [ ]:
sales['Price per m2'] = sales['Price'] / sales['Landsize']

sales.head()

Add and calculate `Price in USD` column

In [ ]:
AUD2USD = 0.68

In [ ]:
sales['Price_USD'] = sales['Price'] * AUD2USD

sales.head()

## **Selection & Indexing**

Get all the sales made in `Boroondara City Council`

In [ ]:
sales.loc[sales['CouncilArea'] == 'Boroondara City Council']

Get the mean Price of all the sales made in `Boroondara City Council`

In [ ]:
sales.loc[sales['CouncilArea'] == 'Boroondara City Council', 'Price'].describe().astype(int)

How many records belong to all the sales made in `Boroondara City Council` or `Bayside City Council`

In [ ]:
sales.loc[(sales['CouncilArea'] == 'Boroondara City Council') | (sales['CouncilArea'] == 'Bayside City Council'), 'Price'].describe().astype(int)

Get the mean Sales price of all the sales made in `Boroondara City Council` having more than 5 rooms by Barry seller

In [ ]:
sales.loc[(sales['CouncilArea'] == 'Boroondara City Council') & (sales['Rooms'] > 5) * (sales['SellerG'] == 'Barry'), 'Price'].describe().astype(int)

In [ ]:
sales

# **Task 4. Homework**

**Congratulations!**

You have completed the MIS710 Lab 1 exercise set!

**Homework**

1.   Revise the above exerices and challenge yourself with addtional tasks, for example apply what you have learned in Task 3 on the dataset in Task 2
2.   Download another dataset and explore
https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html